/*[[[cog
def transform(text):
    for prefix in '-moz-', '-webkit-', '-ms-', '-o-', '':
        cog.outl('%stransform: %s;' % (prefix, text))
]]]*/
/*[[[end]]]*/

header {
    width: 960px;
    margin: 20px auto 0;

    background-color: #AB0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header, #main {
    border-right: 5px double #456;
    box-shadow: rgba(0, 11, 51, 0.75) 1px 1px 3px;
}

h1 {
    color: #210;
    float: left;
    font-size: 4em;
    margin: 40px 10px 0 10px;
}

h1 q {
    float: left;
    display: block;
    font-size: 1.5em;
    /*[[[cog transform('rotate(-15deg)') ]]]*/
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    /*[[[end]]]*/
}

.dates-and-venue {
    margin: -1em 10px 0;
    float: right;
}

#what {
    margin: 400px 0 0;
}

#what p {
    margin: 1em 10px;
}

#main {
    width: 960px;
    min-height: 800px;
    margin: 0 auto 20px;

    color: #FFF;
    font-weight: bolder;
    background: #AB0 url(mad-scientist-rainbow-720.png) 50px 0 no-repeat;
    background-size: 720px 720px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #main {
        background-image: url(mad-scientist-rainbow-1440.png);
    }
}

#main a {
    color: inherit;
    border-bottom: 1px solid #FED;
    border-color: rgba(255, 240, 205, 0.5);
    text-decoration: none;
}

#main a:hover,
#main a:active {
    background-color: rgba(255,250,200, 0.25);
    color: #900;
    border-color: #900;
}

#articles {
    float: right;
    margin: 120px 0 0;
    width: 400px;
}