{% extends "articles/index.html" %}

{% block title %}CAPTION{% for tag in tags %} {{ tag.name }}{% endfor %}{% endblock %}
{% block morestyle %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{{ year }}/front.css">
{% endblock %}

{% block header %}
        <header>
            <h1>
                <b>Caption</b>
                <i>2009</i>
                <q>is Away with the Faries</q>
            </h1>
            <p class="dates-and-venue">
                15–16 August 2009<br>
                East Oxford Community Centre
            </p>
        </header>
{% endblock %}
{% block above-heading %}
{% endblock %}
{% block tweets %}{% endblock %}
