{% extends "articles/base.html" %}
{% block basestyle %}
        <link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{{ year }}/base.css">
{% endblock %}
{% block header %}
        <header>
            <p class="logo">
                <a href="{% url article-year-index year=year %}">
                    <q>Mad Science</q>
                    <b>Caption</b>
                    <i>2010</i>
                </a>
            </p>
            <p class="dates-and-venue">
                31 July &amp; 1 August 2010<br>
                East Oxford Community Centre
            </p>
        </header>
{% endblock %}