body {
    margin: 0;
    padding: 0;

    font-family: "Courier New", "Courier", monospace;
    line-height: 1.25;
    background-color: #F0F0F7;
    color: #334;
}

h1, h2 {
    margin: 0 0 0.5em;
    padding: 0.5em 10px;
    -webkit-transform: rotate(-0.25deg);
}

h1,
h2,
#article dl,
article dl,
.embedded-media,
#disqus_thread  {
    clear: both;
    font-family: "Univers", "Neue Haas Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    box-shadow: rgba(51, 51, 68, 0.5) 1px 1px 3px;
}

.logo a {
    color: inherit;
    text-decoration: none;
}
.logo a:hover,
.logo a:active {
    color: #39C;
    text-decoration: underline;
}

.logo q {
    font-weight: 100;
}
.logo b {
    font-weight: 700;
}
.logo i {
    font-weight: 200;
    font-style: normal;
}

.dates-and-venue {
    float: right;
    margin: 20px 10px;

    font-size: 1.2em;
    -webkit-transform: rotate(-0.5deg);
}

#main {
    width: 960px;
    margin: 0 auto;
}

section, #asides {
    display: block;
    float: right;
}

section#article {
    width: 640px;
}
#asides {
    width: 320px;
}

article dl,
#article dl {
    display: block;
    font-size: 0.9em;
    padding: 0.625em 0;
    -webkit-transform: rotate(0.25deg);
}

@media screen {
    dt {
        display: none;
    }
}

dd {
    display: inline;
    padding: 0;
    margin: 0 10px;
}

dd:after {
    content: "/";
}

article p {
    margin: 1.25em 10px ;
}

#asides table {
    margin: 0 5px;
    border-collapse: collapse;
}

#asides td,
#asides th {
    padding: 0.125em 5px;
    text-align: left;
    vertical-align: top;
    border-bottom: 0.5px solid rgba(51, 51, 68, 0.5);
}

#asides td:first-child {
    width: 70px;
}

.embedded-media {
    display: block;
    float: left;
    width: 290px;
    margin: 0 20px 10px 0;
    padding: 10px 10px 0 10px;
    background-color: rgba(17, 34,51, 0.1);
}

.embedded-media small {
    display: block;
    font-size: 9px;
    -webkit-transform: translate(50%, 0) rotate(-90deg) translate(50%, -1em);
}

#disqus_thread {
    padding: 10px;
    background-color: rgba(17, 34,51, 0.1);
}