

header h1 {
    float: left;
    font-size: 3em;
    margin: 0 0;
    padding: 0.6em 20px 0.6em 140px;

    background: url(stickman-in-circle-100.png) 20px 50% no-repeat;
    -webkit-transform: rotate(0.5deg);
}

h1 q {
    font-weight: 100;
}
h1 b {
    font-weight: 900;
}
h1 i {
    font-weight: 200;
    font-style: normal;
}

h2  {
    font-size: 1.44em;
}

#what {
    width: 320px;
}

#what p {
    margin: 1em 10px;
}

.twtr-widget {
    margin: 1em 10px;
}

