body {
	border: 8px solid #990000;
	font: 11pt helvetica, arial, sans-serif;
	line-height: 1.3;
	margin: 0pt;
	background-color: #FFFFCC;
	color: #330000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica narrow, helvetica, arial, sans-serif;
	font-weight: 400;
	color: #660000;
	background-color: #CCCC99;
	padding: 0pt 0.5em;
}

h1 {
	font-size: 36pt;
	margin: 0pt 0pt 0pt 0pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
}

#leftCol {
	font-family: helvetica narrow, helvetica, arial, sans-serif;
	font-weight: 400;
	color: #660000;
	background-color: #CCCC99;
}

#rightCol p, #rightCol dl  {
	margin: 1em 1em;
}

dt {
	margin: 1em 0pt 0pt 0pt;
}

dd {
	margin: 0pt 0pt 1em 2em;
}

p.logo {
	margin: 0pt;
}

p.path {
	font: bold 9pt helvetica narrow, helvetica, arial, sans-serif;
	margin: 0.5em;
}

#rightCol p.details {
	margin: 0pt 0pt 1em 0pt;
	color: #660000;
	background-color: #CCCC99;
	padding: 1pt 1em;
}
