
                    <dl>
                        {% if article.author.id != 1 %}
                        <dt>Author</dt>
                        <dd>{{ article.author }}</dd>
                        {% endif %}
                        <dt>Published</dt>
                        <dd>
                            {{ article.published|date:"j F Y" }}
                        </dd>
                        <dt>Permalink</dt>
                        <dd>
                            <a href="{% url article-detail article_id=article.id year=article.year slug=article.slug %}#disqus_thread" data-disqus-identifier="{{ article.unique_id }}">Comments</a>
                        </dd>
                        {% if article_url %}
                        <dt>Share this</dt>
                        <dd>
                            <a href="https://twitter.com/share?lang=en&amp;url={{ article_url }}&amp;via=captioncon&amp;text=CAPTION%202012%20article%3A%20{{ article.title|urlencode }}" class="twitter-share-button" data-lang="en">Tweet</a>
                        </dd>
                        {% endif %}
                    </dl>