{% extends "articles/base.html" %}
{% load markup %}

{% block title %}CAPTION{% for tag in tags %} {{ tag.name }}{% endfor %}{% endblock %}
{% block morestyle %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}2012/front.css">
{% endblock %}

{% block header %}
        <header>
            <h1>
                <b>Caption</b>
                <i>Summer Special</i>
            </h1>
            <div id="picture">
                <img src="{{ STATIC_URL }}2012/stickman-letterpress.png" alt="" width="400" />
            </div>
        </header>
{% endblock %}
{% block main %}
        <section id="article">
            <p class="above-heading">Latest news</p>
            {% with article=articles|first %}
                <h2>{{ article.title }}</h2>
                {% include "articles/article-metadata-part.html" %}
                <article>
                    {{ article.content|markdown }}
                </article>
            {% endwith %}
        </section>
        <section id="what">
            <h2>What  is <span>CAPTION</span>?</h2>
            <p>
                Oxford’s annual small-press comics convention is a unique, friendly event that brings comics creators, manga artists, comic-book readers and professionals together to mingle and discuss their work.
            </p>
            <ul class="features">
                {% for info in infos %}
                <li>
                    {% if info.content %}
                    <a href="{% url info-detail year=year info_name=info.name %}">
                        <h3>{{ info.title }}</h3>
                        {{ info.summary|markdown }}
                        <b>Read more ></b>
                    </a>
                    {% else %}
                    <h3>{{ info.title }}</h3>
                    {{ info.summary|markdown }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            </p>
        </section>
{% endblock %}
{% block asides %}
        <aside id="articles">
            {% include "articles/article-list-part.html" %}
        </aside>
{% endblock %}