{% extends "articles/base.html" %}
{% load markup %}

{% block title %}{{ info.title }} - CAPTION{% for tag in tags %} {{ tag.name }}{% endfor %}{% endblock %}

{% block main %}
        <section id="info">
            <h1>{{ info.title }}</h1>
            {{ info.content|markdown }}
        </saection>
{% endblock %}
{% block asides %}
        <aside id="info-list">
            {% include "articles/info-list-part.html" %}
        </aside>
        <aside id="article-list">
            {% include "articles/article-list-part.html" %}
        </aside>
{% endblock %}