@import url(MyFontsWebfontsOrderM3677995.css);

body {
    font-family: "Gibson", "Neue Haas Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 1.25;
}

section {
    float: left;
    width: 480px;
    margin: 20px 0;
}

section h2 {
    margin: 0 90px 0.5em 10px;
}

section p {
    margin: 0 90px 1.25em 10px;
}

section ul {
    margin: 0;
    padding: 0;
}

section li {
    margin: 0.625em 90px 0.625em 20px;
}

section dl {
    font-size: 0.7em;

    float: right;
    width: 80px;
    padding: 0;
    margin: 0;
}

section dt {
    margin: 0 10px;
}

@media screen {
    dt {
        display: none;
    }
}

section dd {
    margin: 0 10px 0.625em;
}

