@import url(MyFontsWebfontsOrderM3677995.css);

body {
    padding: 0;
    margin: 0;

    font-family: "Gibson", "Neue Haas Grotesk", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 1.25;
    background: #FDFFD7 url(paper.jpeg) left top repeat-x;
    background: url(paper-top-left.png) left top no-repeat,
        url(paper-left.png) left top repeat-y,
        #FDFFD7 url(paper.jpeg) left top repeat-x;
}

p a:link,
p a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #932;
    border-color: rgba(153, 51, 34, 0.5);
}
p a:hover,
p:active {
    color: #932;
    border-color: #932;
}

section {
    float: left;
    margin: 20px 0 0;
}

#asides {
    float: left;
    margin: 20px 0 0;
    width: 240px; /* 3 u */
}

aside {
    width: 240px;
    margin: 0 0 20px;
}

section h2,
section p,
section ul {
    width: 460px; /* 6 u - gutter */
}

section h2,
aside h2 {
    margin: 0 10px 0.5em 10px;
}

section p {
    margin: 0 10px 1.25em 10px;
}

section ul,
aside ul {
    margin: 0 10px;
    padding: 0;
}

section li {
    /* UL element defines the gutterl the side margins here are for the bullet */
    margin: 0.625em 0 0.625em 2em;
}

ul.features {
    float: left;
    width: 640px;
    margin: 0;
}

ul.features li {
    float: left;
    width: 140px;
    margin: 0.625em 10px;

    list-style-type: none;
}


ul.features h3 {
    font-size: 1em;
    margin: 0;
}

ul.features p {
    margin: 0;
    width: auto;
}
ul.features small,
ul.features b,
aside nav b {
    font-size: 0.8em;
    display: block;
    margin-top: 0.5em;
}
ul.features b {
    /* text-align: right; */
}

ul.features a {
    display: block;
    text-decoration: none;
    color: inherit;
}
ul.features a:hover b,
ul.features a:active b {
    text-decoration: underline;
    color: #932;
}

/* SPAN in sections is used for all-caps abbreviations */
section span,
aside span {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

aside {
    font-size: 0.8em;
}

aside table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

aside td {
    padding: 0 10px;
    margin: 0;
}

aside td.date {
    width: 60px;
}

aside ul a {
    display: block;
    text-decoration: none;
    color: inherit;
}

aside ul {
    margin: 0 10px;
}
aside ul li {
    margin: 0.625em 0;
    padding: 0;
    list-style-type: none;
}

aside ul h3 {
    font-size: 1em;
    margin: 0;
}

aside ul a:hover b,
aside ul a:active b {
    text-decoration: underline;
    color: #932;
}

aside ul p,
aside ul b {
    margin: 0;
}

