header {
    float: left;
    width: 400px;
    margin: 20px;
}

h1 {
    margin: 0;
    font-family: "SpadeRound", sans-serif;
    font-weight: normal;
    font-style: normal;
    /*
    font-variant-alternates: styleset(ss01);
    -ms-font-feature-settings: "ss01" on;
    -webkit-font-feature-settings: "ss01" on;
    text-transform: lowercase;
    */
    text-transform: uppercase;
}

h1 b {
    display: block;
    font-size: 75px;
    line-height: 50px;
    font-weight: normal;
}

h1 i {
    display: block;
    font-size: 37px;
    line-height: 30px;
    font-style: normal;
}

header p {
    font-size: 1.25;

    margin: 0;
    font-family: "SpadeRound", sans-serif;
    line-height: 1;
}

section {
    float: left;
    width: 400px;
    margin: 20px 0;
}